#logout-button{
  width: 110px;
  height: 40px;
  margin-left: 65px;
  margin-top: 2px;
  border-color: #337ab7;
  
}
.user-info{
  width: 180px;
  height: 45px;
  float: right;
}
#navigator{
  height: 45px;
  width: 5px;
  display: inline-block;
}

#timezone-div{
  width: 100px;
  height: 45px;
  float: right;
  margin-right: 990px;
  /*margin-left: 0px;*/
}
#timezone{
  margin-top:10px;
  width: 180px;
}

.bubblemain{
  width: 350px;
  height: 190px;
  padding: 6px;
  outline: none;
  position:absolute;
  border:2px;
  border-style: groove;
  border-color: #aaa;
  background-color: #fff;
  z-index: 10;
  
}