#logout-button{
  width: 110px;
  height: 40px;
  margin-left: 20px;
  margin-top: 2px;
  border-color: #337ab7;
  
}


#addEvent-div{
  width: 120px;
  margin-left: 1010px;
}
#addEvent-btn{
  width: 120px;
  height: 40px;
  margin-left: 0px;
  margin-top: 2px;
  border-color: #337ab7;
  
  
}
#logout_form{
  height: 45px;
  width: 120px;
  float: right;
}
#logout-button{
  float: right;
}
.user-info{
  width: 120px;
  height: 45px;
  margin-right: 2px;
  float: right;
}
.createCalendar {
  background-color: #337ab7;
  color: white;
}
#navigator{
  height: 45px;
  width: 5px;
  display: inline-block;
}

#calendar{
  margin-top: 5px;
}

#timezone-div{
  width: 100px;
  height: 45px;
  float: right;
  margin-right: 990px;
  /*margin-left: 0px;*/
}
#timezone{
  margin-top:10px;
  width: 180px;
}

.bubblemain{
  width: 350px;
  height: 200px;
  padding: 10px;
  outline: none;
  position:absolute;
  border:2px;
  border-style: groove;
  border-color: #aaa;
  background-color: #fff;
  z-index: 10;
  
}

#div-popup-edit-btn, #div-popup-del-btn{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.bubble-title{
  font-size: 17px;
  color: #2C70D1;
}

.bubble-fname{
  font-size: 12px;
  color: #9b9b9b;
}

.bubble-fvalue{
  font-size: 14px;
}
td{
  font-weight: bold;
  padding: 50px;
}
nav {
  float: left;
  width: 10%;
  margin: 0;
  padding: 1em;
}
  
article {
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}

header {
  padding: 1em;
  color: white;
  background-color: grey;
  border-bottom: 1px;
  clear: left;
  text-align: center;
}
body {
  width:100%;
}
p {
  text-align: center;
  font-size: 100%;
}