<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
	    <link href= "{% static 'projectcalendar/fullcalendar.css' %}" rel='stylesheet'/>
	    <link href= "{% static 'projectcalendar/index.css' %}" rel='stylesheet'/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
        rel = "stylesheet">
       	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'projectcalendar/projectCalendar.js' %}" type="text/javascript"></script>
		<script src="{% static 'projectcalendar/moment.min.js' %}"></script>
		<script src="{% static 'projectcalendar/fullcalendar.js' %}"></script>
		<script src="{% static 'projectcalendar/notify.js' %}"> </script>
		<script src="{% static 'projectcalendar/notify.min.js' %}"> </script>
		<script src="{% static 'projectcalendar/moment-timezone.js' %}"></script>
		<link href="{% static 'dist/css/bootstrap.min.css'%}" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="{% static 'assets/css/ie10-viewport-bug-workaround.css'%}" rel="stylesheet">
	</head>
	<body>

		<header>
	   		<div class="blog-masthead" id = "navigator">
			<div class="container">
				<nav class="blog-nav">
					<div id = "addEvent-btn-div">
						 <button id = "addEvent-btn" data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-primary btn-block" > Add Event</button> 
					</div>
					<div class="user-info">
					<form action="{% url 'logout' %}" method="get" id = "logout_form">
						<button id = "logout-button" class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
					</form>
					</div>
				</nav>
			</div>  
			</div>

			

			</div>
		</header>
		<div>
			<nav>
			<!-- Will be replaced by calendar names-->
			   <form>
			   		<table>
			   			{% for calName in calNames %}
			   			<tr>
			   				<td> <input type="checkbox" name="calendars" value="{{calName}}"></input> </td>
			   				<td> {{calName}} </td>
			   			</tr>
			   			{% endfor %}
			   		</table>
			   </form>
			  <button id = "create-cal-btn"class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#createCalendarModal"> Create new calendar </button> 
			</nav>
			<article> 
				{% if error %}
					<header>
	    				<p>{{error}}</p>
	  				</header>
	  			{% endif %}
				<div id='calendar'></div>
			</article>
		</div>
		 <!-- Modal to add event-->
		<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Add Event </h4>
		    </div>
		    <div class="modal-body" >
		      <form style="width:500px; height:500px" method="post"  action="{% url 'add_event' %}">
	            <table id = "add-event-table">
	            	<tr>
			            <td>{{ form.title.label_tag }}</td>
			            <td>{{ form.title }}</td>
			        </tr>
			        <tr>
			        	<td style="font-weight: bold"> Start Time </td>
			        	<td><input name="startTime" type="time" value="00:00"></td>
			        </tr>
			         <tr>
			        	<td style="font-weight: bold">End time </td>
			        	<td><input name="endTime" type="time" value="00:00"></td>
			        </tr>
			         <tr>
			         	<td>{{ form.datepicker.label_tag }}</td>
			            <td>{{ form.datepicker }}</td>
			        </tr>
			        <tr>	
			        	<td> Calendar Name: </td>
			        	<td>
		                <select name="calName">
		                  	{% for calName in calNames %}
		                  		<option value="{{calName}}">{{calName}} </option>
		                  	{% endfor %}
		                 </select> 
                	</td>
			        </tr>
			        <tr>
			         	<td> Type: </td>
			            <td> 
			            	<input name="appointment" type="radio"> Appointment </input>
			            </td>
			        </tr>
			        <tr>
			         	<td> Offer as: </td>
			            <td> 
			            	<input name="appointmentSlot" type="radio"> 
			            	Slots of  <input type="number" name="slotTime" min="15" max="60"> minutes 
			            	</input>
			            </td>
			        </tr>
	        	</table>
	        	{% csrf_token %}
	        	<button id = "add-event-sub-btn"class = "btn btn-lg btn-primary btn-block"> Submit </button>
	        </form>
	        <script> 
	        	$('#id_datepicker').datepicker({
	        		dateFormat:"yy-mm-dd",
     			});
	        </script>
		    </div>
		    <div class="modal-footer">
		      <button id = "add-event-close-btn"type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">Close</button>
		    </div>
		  </div>
      
    	</div>
  	</div>

	  	<div id="createCalendarModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Create calendar</h4>
		      </div>
		      <div class="modal-body">
		        <form method="post"  action="{% url 'create_calendar' %}">
		        	Calendar Name: <input type="text" name="calendarName" required> </input>
		        	{% csrf_token %}
	        		<button> Submit </button>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button id = "add-cal-close-btn" type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	</body>
</html>